body{
    font-family: Arial, sans-serif;
    color: #353331;
    padding-top: 20px;
    margin-top: 20px;
}
.profile-img{
    border-radius: 10%;
}
.media-body{
    text-align: left;
}
.heading{
    color: #353331;
    padding-left: 15px;
    margin-top: 20px;
    padding-top: 20px;
}
.name{
    font-size: 50px;
}
.email{
    font-size: larger;
}